:host {
    display: block;
    color: white;
    padding: 3rem 2rem;
}

section {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    letter-spacing: 1px;
    color: var(--green);

    font-family: 'Roboto Condensed', sans-serif;
    outline: 1px solid white;
}

section h2 {
    color: var(--green);
}

section h4 {
    color: var(--gray-light);
}

:host.pc section {
    position: relative;
    margin-left: 5rem;
    width: 600px;
}